<div style="padding: 20px;" class="jumbotron"> 
  <h1 style="color: rgb(0, 0, 0)">Manager Board</h1>
<nav>
  <a routerLink="viewplanes" class="btn btn-info active" role="button"
  routerLinkActive="active">View Planes</a>
  <a routerLink="viewpilots" class="btn btn-info active" role="button"
  routerLinkActive="active">View Pilots</a>
  <a routerLink="viewhangars" class="btn btn-info active" role="button"
  routerLinkActive="active">View Hangar</a>
  <a routerLink="viewunallocatedplanes" class="btn btn-danger active"   role="button"
  routerLinkActive="active">View Unallocated Planes</a>
  <a routerLink="viewallocatedplanes" class="btn btn-success active "   role="button"
  routerLinkActive="active">View Allocated Planes</a>

</nav>

</div>
